<div class="media conversation" (click)="clicked($event)">
  <div class="pull-left">
    <img
      [src]="thread.avatarSrc"
      class="media-object avatar">

  </div>
  <div class="media-body">
    <h5 class="media-heading contact-name">{{thread.name}}
    <span *ngIf="isCurrentThread">
        •
      </span></h5>
    <small>{{thread.lastMessage.text}}</small>
  </div>
</div>
