<div
  class="msg-container"
  [ngClass]="{'base-sent': isUserMessage, 'base-receive': !isUserMessage}">
  <div
    class="avatar"
    *ngIf="isUserMessage">
    <img [src]="message.author.avatarSrc">
  </div>
  <div
    class="messages"
    [ngClass]="{'msg-sent': isUserMessage, 'msg-receive': !isUserMessage}">
    {{message.text}}
  </div>
  <div
    class="avatar"
    *ngIf="!isUserMessage">
    <img [src]="message.author.avatarSrc">
  </div>
</div>
